@import "./../../styles/variables";

.home {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  .char-container {
    justify-content: center;
    gap: 50px;
    padding: 60px;
    display: flex;

    .char-card {
      padding: 40px 60px;
      height: auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 10px;
      transition: all 0.3s;
      filter: grayscale(1);

      &.hide {
        display: none;
      }

      &.selected {
        filter: grayscale(0);
        transform: (scale(1.15));
        animation: clicked 0.4s;
      }

      @keyframes clicked {
        0%,
        100% {
          transform: (scale(1.15));
        }
        50% {
          transform: (scale(1.25));
        }
      }

      &:hover {
        transform: (scale(1.15));
        cursor: pointer;
        filter: grayscale(0);
      }
    }
  }

  .text-box {
    min-height: 9rem;
    max-width: 33rem;
    border-radius: 10px;
    background-color: $baseHeader;
    padding: 20px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .fade-wrap {
      white-space: normal !important;
      font-size: 12px;
    }

    .next-button {
      display: flex;
      justify-content: end;

      .anticon-caret-down svg {
        animation: bounce 1s infinite;
      }
    }

    .input-name {
      color: white;
      font-size: 12px;
      margin: 20px 0px;
      background-color: transparent;

      &::placeholder {
        color: gray;
      }
    }

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }

      50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }
}

.tour-setup {
  width: auto !important;
}

@media screen and (max-width: 575px) {
  .home {
    .char-container {
      display: grid;

      .char-card {
        width: 70vw;
        overflow: hidden;
        padding: 0;
        height: 160px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
