$undefined: #e5e7eb;
$bug: #9dc130;
$dark: #5f606d;
$dragon: #0773c7;
$electric: #edd53f;
$fairy: #ef97e6;
$fighting: #d94256;
$fire: #fc6c6d;
$flying: #9bb4e8;
$ghost: #7975d4;
$grass: #5dbe62;
$ground: #d78555;
$ice: #98d8d8;
$normal: #9a9da1;
$poison: #b563ce;
$psychic: #f85888;
$rock: #cec18c;
$steel: #b8b8d0;
$water: #60a5fa;
$baseColor: whitesmoke;
$baseColorDark: #0a141e;
$baseHeader: #19242c;

$normal-2: #a8a77a;
$fire-2: #ee8130;
$water-2: #6390f0;
$electric-2: #f7d02c;
$grass-2: #7ac74c;
$ice-2: #96d9d6;
$fighting-2: #c22e28;
$poison-2: #a33ea1;
$ground-2: #e2bf65;
$flying-2: #a98ff3;
$psychic-2: #f95587;
$bug-2: #a6b91a;
$rock-2: #b6a136;
$ghost-2: #735797;
$dragon-2: #6f35fc;
$dark-2: #705746;
$steel-2: #b7b7ce;
$fairy-2: #d685ad;

$tab-bg: $baseHeader;
$tab-clr: #39395f;

$elm-colors: (
  undefined: $undefined,
  bug: $bug,
  dark: $dark,
  dragon: $dragon,
  electric: $electric,
  fairy: $fairy,
  fighting: $fighting,
  fire: $fire,
  flying: $flying,
  ghost: $ghost,
  grass: $grass,
  ground: $ground,
  ice: $ice,
  normal: $normal,
  poison: $poison,
  psychic: $psychic,
  rock: $rock,
  steel: $steel,
  water: $water,
);

$elm-colors-2: (
  undefined: $normal-2,
  bug: $bug-2,
  dark: $dark-2,
  dragon: $dragon-2,
  electric: $electric-2,
  fairy: $fairy-2,
  fighting: $fighting-2,
  fire: $fire-2,
  flying: $flying-2,
  ghost: $ghost-2,
  grass: $grass-2,
  ground: $ground-2,
  ice: $ice-2,
  normal: $normal-2,
  poison: $poison-2,
  psychic: $psychic-2,
  rock: $rock-2,
  steel: $steel-2,
  water: $water-2,
);
