html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

.d-flex {
  display: flex;
}

$justify-types: center, space-between, start, space-around, space-evenly;
$flex-direction-types: row, row-reverse, column, column-reverse;

.w-100 {
  width: 100%;
}

@each $type in $justify-types {
  .justify-content-#{$type} {
    justify-content: $type;
  }
}

@each $type in $flex-direction-types {
  .flex-dir-#{$type} {
    flex-direction: $type;
  }
}

@mixin margin-mixin($margin, $value) {
  @if $margin {
    margin-#{$margin}: $value;
  } @else {
    margin: $value;
  }
}

@mixin padding-mixin($padding, $value) {
  @if $padding {
    padding-#{$padding}: $value;
  } @else {
    padding: $value;
  }
}

@for $i from 1 through 20 {
  //margin
  .m-#{$i} {
    @include margin-mixin(null, 1rem * $i);
  }
  @each $margin in top, left, bottom, right {
    .m-#{$margin}-#{$i} {
      @include margin-mixin($margin, 1rem * $i);
    }
  }

  //padding
  .p-#{$i} {
    @include padding-mixin(null, 1rem * $i);
  }
  @each $padding in top, left, bottom, right {
    .p-#{$padding}-#{$i} {
      @include padding-mixin($padding, 1rem * $i);
    }
  }
}

@media screen and (max-width: 575px) {
  .ant-layout-header {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .ant-layout-sider {
    z-index: 99;
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
    margin: 0px;
    position: fixed !important;
    bottom: 0;
    padding: 0 !important;

    .ant-layout-sider-children {
      width: fit-content;

      .pokemon-logo {
        display: none;
      }

      .ant-menu {
        margin: 0 !important;
        display: flex;

        .ant-menu-item {
          width: 120px;
        }
      }
    }

    .ant-layout-sider-trigger {
      display: none;
    }
  }

  .ant-layout-content {
    .card-detail {
      margin: 10px;
    }
  }
}
