html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

.d-flex {
  display: flex;
}

$justify-types: center, space-between, start, space-around, space-evenly;
$flex-direction-types: row, row-reverse, column, column-reverse;

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

@each $type in $justify-types {
  .justify-content-#{$type} {
    justify-content: $type;
  }
}

@each $type in $flex-direction-types {
  .flex-dir-#{$type} {
    flex-direction: $type;
  }
}

@mixin margin-mixin($margin, $value) {
  @if $margin {
    margin-#{$margin}: $value;
  } @else {
    margin: $value;
  }
}

@mixin padding-mixin($padding, $value) {
  @if $padding {
    padding-#{$padding}: $value;
  } @else {
    padding: $value;
  }
}

@for $i from 1 through 20 {
  //margin
  .m-#{$i} {
    @include margin-mixin(null, 1rem * $i);
  }
  @each $margin in top, left, bottom, right {
    .m-#{$margin}-#{$i} {
      @include margin-mixin($margin, 1rem * $i);
    }
  }

  //padding
  .p-#{$i} {
    @include padding-mixin(null, 1rem * $i);
  }
  @each $padding in top, left, bottom, right {
    .p-#{$padding}-#{$i} {
      @include padding-mixin($padding, 1rem * $i);
    }
  }
}

@media screen and (max-width: 575px) {
  .ant-layout-sider {
    display: none;
  }

  .ant-layout-bottom {
    display: flex;
  }

  .ant-layout-content {
    .card-detail {
      margin: 10px;
    }
  }
}
