@import "./../../styles//index.scss";

.main-layout {
  min-height: 100vh;

  .logo-image {
    @include center;
    height: 60px;
  }

  aside,
  .ant-layout-sider-trigger,
  .ant-layout-header {
    background-color: white !important;
    color: black;
  }

  .ant-layout-header,
  aside {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
