@import "./../../styles//index.scss";

.add-todo-btn {
  display: flex;
  align-items: center;
  gap: 30px;

  p {
    font-size: 24px;
  }

  button {
    @include center;
    justify-content: space-between;
    width: 190px;
  }
}

.todo-modal {
  .date-picker {
    width: -webkit-fill-available;
  }

  .footer {
    display: flex;
    justify-content: end;
    gap: 20px;

    .save-btn {
      background-color: $secondary;
      color: $gray;
    }
    .cancel-btn {
      background-color: $gray;
      color: $secondary;
    }
  }
}

.todo-not-checked {
  height: 70vh;
  overflow: auto;
  border: 1px solid #cdd5e0;

  .ant-card-body {
    padding: 5px 20px;
  }

  .todo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todo-item {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .parent {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.checked {
        span {
          text-decoration: line-through;
        }
      }
    }

    .child {
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 10px 15px;
      margin: 10px 5px;
      display: flex;
      justify-content: space-between;

      span {
        text-decoration: line-through;
      }

      .anticon {
        justify-content: center;
      }
    }

    .ant-checkbox-wrapper span {
      color: #4f4f4f;
    }

    .date-action {
      font-size: 12px;
      color: #4f4f4f;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      .today {
        color: #107d38;
      }
      .overdue {
        color: #e11d23;
      }
      .future {
        color: #154886;
      }
    }
  }
}

.empty-img {
  height: 75vh;
  @include center;
}
