@import "./../../styles/variables";

@each $key, $value in $elm-colors {
  .elm-#{$key} {
    border-color: $value !important;
  }
}

.pokemon-detail {
  color: $baseColor;

  .between {
    justify-content: space-between;
  }

  @mixin section-card {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $borderColor;
    background-color: $baseHeader;
    color: $baseColor;
    text-transform: capitalize;

    h1 {
      border-bottom: 1px solid $borderColor;
      padding-bottom: 10px;
      color: $baseColor;
      margin-top: 5px;
    }

    .gray {
      color: gray;
    }
  }

  .image-section {
    height: 400px;
    position: relative;
    overflow: hidden;

    .box {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $baseColorDark;
      border-radius: 100%;
      border: 1px dotted $borderColor;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        height: 150%;
        width: 150%;
        animation: rotate 8s infinite linear;
        background-image: conic-gradient(
          var(--custom-color) 20deg,
          transparent 120deg
        );
      }

      &::after {
        content: "";
        position: absolute;
        height: 295px;
        width: 295px;
        border-radius: 100%;
        background-color: $baseColorDark;
      }

      &.two {
        width: 500px;
        height: 500px;

        &::after {
          height: 495px;
          width: 495px;
        }

        &::before {
          animation: rotate 9s infinite linear;
        }
      }

      &.three {
        width: 700px;
        height: 700px;

        &::after {
          height: 695px;
          width: 695px;
        }

        &::before {
          animation: rotate 10s infinite linear;
        }
      }
    }

    @keyframes rotate {
      100% {
        transform: rotate(-360deg);
      }
    }

    .image-detail {
      h2 {
        text-transform: capitalize;
        color: #f1f5f9;
        margin: 0;
      }
      h6 {
        font-size: 14px;
        margin: 10px 0;
        color: gray;
      }
      .pokemon-img {
        height: 290px;
      }

      .catch-btn {
        width: 140px;
        animation: wave 1s infinite linear;
      }

      @keyframes wave {
        0%,
        100% {
          transform: scale(1);
        }

        50% {
          transform: scale(0.9);
        }
      }
    }
  }

  .evol-section {
    @include section-card;

    .card {
      display: flex;
      border: 1px solid;
      padding: 10px;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      border: 1px solid;
      background: $baseColorDark;
      flex: 1;

      &:hover {
        cursor: pointer;
      }

      p {
        margin: 0 0 7px 0;
      }

      .level {
        background: $baseColor;
        color: $baseColorDark;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 6px;
        font-size: 10px;
      }
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
    }
  }

  .stat-section {
    @include section-card;

    .ant-progress {
      line-height: 1.5;
    }
  }

  .info-section {
    @include section-card;

    .more-info {
      display: flex;
      justify-content: space-between;
      line-height: 2;
    }
  }
}

.ant-modal-root {
  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .ant-modal,
  .catch-modal {
    .ant-modal-content {
      background-color: transparent;
      box-shadow: none;

      .ant-modal-close {
        top: 30px;
        inset-inline-end: 35px;
      }

      .ant-modal-body {
        height: 300px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
          0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

        .modal-forest-bg {
          height: inherit;
          background-size: cover;
          border-radius: 10px;

          .pokemon-image {
            height: 70px;
            margin-bottom: 10px;
          }

          .text {
            position: absolute;
            bottom: 75px;
            width: 260px;
            font-family: monospace;

            .ant-space-compact {
              width: 240px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .image-detail {
    .pokemon-img {
      height: 200px !important;
    }
  }
}

@media screen and (max-width: 680px) {
  .arrow {
    display: none !important;
  }
}
