.ant-layout-sider {
  background-color: whitesmoke !important;
  margin: 0 25px 10px 0;

  .ant-layout-sider-children {
    margin: 0 10px;

    .pokemon-logo {
      position: absolute;
      z-index: 4;
      top: -50px;
      display: flex;
      justify-content: center;

      .pokemon-img {
        height: 100px;
      }

      .pokeball-img {
        height: 65px;
      }
    }

    ul {
      background-color: whitesmoke !important;
      color: gray;
      margin-top: 75px;
      position: sticky;
      top: 40px;

      li {
        font-weight: 600;
        margin-bottom: 15px !important;

        &:active,
        &.ant-menu-item-selected {
          background-color: #a9c25d !important;
          color: #39395f;
          font-weight: 700;
        }

        &:hover {
          color: #39395f !important;
        }
      }
    }
  }

  .ant-layout-sider-trigger {
    background-color: whitesmoke !important;
    height: 100px !important;
    margin-bottom: 10px;
    color: grey !important;
    .anticon {
      vertical-align: -2.125em;
    }
  }
}
