@import "./../../styles/variables";

.ant-layout-sider {
  background-color: $baseColor !important;
  margin: 0 25px 10px 0;

  .ant-layout-sider-children {
    margin: 0 10px;

    .pokemon-logo {
      position: absolute;
      z-index: 44;
      top: -50px;
      display: flex;
      justify-content: center;

      .pokemon-img {
        height: 100px;
      }

      .pokeball-img {
        height: 65px;
      }
    }

    ul {
      background-color: $baseColor !important;
      color: gray;
      margin-top: 75px;
      position: sticky;
      top: 40px;

      li {
        font-weight: 600;
        margin-bottom: 15px !important;

        &:active,
        &.ant-menu-item-selected {
          background-color: #a9c25d !important;
          color: #39395f;
          font-weight: 700;
        }

        &:hover {
          color: #39395f !important;
        }
      }
    }
  }

  .ant-layout-sider-trigger {
    background-color: $baseColor !important;
    color: grey !important;
    height: 100px !important;
    margin-bottom: 10px;
    .anticon {
      vertical-align: -2.125em;
    }
  }
}

@media screen and (max-width: 575px) {
  .ant-layout-sider {
    z-index: 99;
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
    margin: 0px;
    position: fixed !important;
    bottom: 0;
    padding: 0 !important;

    .ant-layout-sider-children {
      width: fit-content;

      .pokemon-logo {
        top: -35px;
        position: absolute;
        left: 140px;
      }

      .ant-menu {
        margin: 0 !important;
        display: flex;

        .ant-menu {
          width: 50px;
        }
      }
    }

    .ant-layout-sider-trigger {
      display: none;
    }
  }
}
