.pokemon-list-container {
  margin-top: 20px;

  .ant-skeleton {
    &.ant-skeleton-active {
      .ant-skeleton-button {
        min-height: 120px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 25%, rgba(255, 255, 255, 0.15) 37%, rgba(255, 255, 255, 0.06) 63%);
        background-size: 400% 100%;
      }
    }
  }

  .ant-row {
    margin-bottom: 16px;

    .ant-card {
      overflow: hidden;
    }
  }
}
